doctype html

html(lang="en-US")
  head
    title Simple CRUD App
  body
    header
      h1 Simple CRUD App
      h2 Inventory
      table
        thread
          tr
            th Id 
            th Name
        tbody
          each row in items
            tr
              td #{row.id}
              td #{row.name}
        tfoot
