doctype html

html(lang="en-US")

  head
    title Simple CRUD APP 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    header
      h1 Simple CRUD App
      block headerLinks

    main
      block main